body {
  background-color: #f4f6f9;
  margin: 0;
  padding: 6.25rem;
}

.header {
  display: flex;
  justify-content: center;
  background-color: #2c3e50;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 0.5625rem 12.5rem 0.5625rem 12.5rem;
  border-bottom: 1px solid #dfdfdf;
}

.header-container {
  font-weight: 600;
  font-size: 2.5rem;
  color: #f4f6f9;
}

.main {
  margin-top: 5.6875rem;
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
}

.main-containter {
  display: flex;
  justify-content: space-around;
}

.main-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 10px solid #2c3e50;
  border-radius: 50px;
  padding: 3.125rem;
  width: 40.625rem;
  box-shadow: 0 10px 30px rgba(44, 62, 80, 0.3);
  background-color: white;
  justify-content: space-between;
}

.subtitle {
  font-weight: 600;
  font-size: 1.875rem;
}

.main-top-left-detail {
  display: flex;
  gap: 3.125rem;
}

.profile-img {
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 500px;
  border: 3px solid black;
}

.main-top-left-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.25rem;
  gap: 0.3125rem;
  font-weight: 500;
}

.main-right {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  border: 10px solid #2c3e50;
  border-radius: 50px;
  padding: 3.125rem;
  width: 40.625rem;
  align-items: center;
  box-shadow: 0 10px 30px rgba(44, 62, 80, 0.3);
  background-color: white;
  justify-content: space-between;
}

.title {
  font-size: 1.25rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.project-list {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  gap: 0.3125rem;
  font-weight: 500;
}

.prize-list {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  gap: 1.25rem;
  font-weight: 500;
}

.summary-detail {
  font-size: 1.25rem;
  color: #333;
  font-weight: 500;
}

.tmi-list {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  gap: 1.875rem;
  font-weight: 500;
}

.skill-info {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

a {
  text-decoration: none; /* 밑줄 제거 */
  color: inherit; /* 부모 색상 따라가게 */
}

.navigation {
  background-color: #2c3e50;
  color: #f4f6f9;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  margin: 0 auto;
  margin-top: 50px;
}

.home-button {
  border: none;
  font-weight: 500;
  font-size: 1.25rem;
}
